<?xml version="1.0"?>
<model>
  <name>substation_scene</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>meilaoliu</name>
    <email>meilaoliu@users.noreply.github.com</email>
  </author>

  <description>
    A realistic substation scene model exported from Blender.
  </description>
</model> 
